---
import Layout from '@layouts/Layout.astro'
import About from '@components/About.astro'
import ArrowBackToTop from '@components/ui/icons/ArrowBackToTop.astro'
import Circle from '@components/ui/icons/Circle.astro'
---

<Layout title="Home">
  <main class="mx-auto flex flex-col">
    <About/>
    <Circle/>
    <ArrowBackToTop/>
  </main>
</Layout>
