<div
  class="flex flex-row px-6 flex-wrap items-center justify-evenly lg:h-screen lg:my-0 my-12"
  id="about">
  <div class="md:w-1/2 w-full">
    <p class="mb-2">Hi there!</p>
    <h1 class="text-3xl md:text-6xl">
      I am a frontend developer living in Berlin
    </h1>
  </div>
  <div class="w-48 h-48 bg-blue-500 rounded-full"></div>
</div>
