---
import { Image } from 'astro:assets'
import aboutImage from '@/assets/about_image.png'
---

<section
  class="my-14 flex flex-row flex-wrap items-center justify-evenly px-6 lg:my-0 lg:h-screen"
  id="about">
  <div class="w-full text-center lg:w-1/2 lg:text-left">
    <h1 class="text-3xl lg:text-6xl">
      I am a frontend developer living in Berlin
    </h1>
  </div>
  <div class="w-full lg:w-1/2">
    <Image
      src={aboutImage}
      alt="programmer vector graphics designed by pikisuperstar"
    />
  </div>
</section>
