<div
  class="flex flex-col px-6 flex-wrap items-center justify-center gap-8 lg:h-screen lg:my-0 my-12"
  id="about">
  <h1>I am a frontend developer living in Berlin</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
    recusandae voluptatum blanditiis quibusdam incidunt rem explicabo dolorem
    nostrum cupiditate, beatae sapiente unde architecto aperiam voluptatem
    corrupti! Iste, aspernatur nostrum. Explicabo!
  </p>
</div>
