<section
  class="flex flex-row px-6 flex-wrap items-center justify-evenly lg:h-screen lg:my-0 my-14"
  id="about">
  <div class="lg:w-1/2 w-full text-center lg:text-left">
    <p class="mb-2 text-2xl">Hi there!</p>
    <h1 class="text-3xl lg:text-6xl">
      I am a frontend developer living in Berlin
    </h1>
  </div>
  <div class="lg:w-1/2 w-full">
    <img src="../../public/programmer-working-with-php.png" alt="programmer vector graphics designed by pikisuperstar" loading="lazy">
  </div>
</section>
