---
import { Image } from 'astro:assets'
import aboutImage from '@/assets/about_image.png'
---

<section
  class="mb-16 mt-4 flex flex-row flex-wrap items-center justify-evenly px-6"
  id="about"
  aria-labelledby="about-heading">
  <header class="mb-10 w-full text-left md:mb-4 md:w-1/3">
    <h1 id="about-heading" class="mb-2 text-5xl font-bold md:mb-4 md:text-6xl">
      Hello, I am <span class="text-secondary">Anna&nbsp;Mill</span>
    </h1>
    <p class="text-2xl font-semibold md:text-3xl">
      and I enjoy designing and building tech pages
    </p>
  </header>

  <figure class="w-full md:w-2/3">
    <Image
      src={aboutImage}
      alt="Illustration of a programmer in front of a computer screen, designed by pikisuperstar"
      class="h-auto max-w-full"
      loading="eager"
    />
  </figure>
</section>
