<section
  class="my-6 flex flex-col flex-wrap items-center justify-center gap-8 px-6 md:my-0 md:h-screen"
  id="contact">
  <h2 class="text-2xl md:text-3xl">Contact me!</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, culpa
    obcaecati? Tenetur quis reiciendis excepturi cupiditate sunt labore
    dignissimos, officiis nostrum aliquid sit esse ea similique, perferendis
    placeat mollitia explicabo.
  </p>
</section>
