---
import Button from './ui/Button.astro'
import Header from './ui/Header.astro'
import Section from './ui/Section.astro'

const downloadFile = () => {
  console.log('downloading file')
}

const contactData = {
  email: 'xxx@gmail.com',
}
---

<Section id="contact" ariaLabel="contactSection">
  <Header headerSmaller="contact me!" />
  <div class="flex w-full flex-col items-center justify-start gap-8 md:w-2/3">
    <p class="mx-auto w-1/2 max-w-xl text-center text-lg md:text-xl">
      email: <span class="font-bold">{contactData.email}</span>
    </p>
    <Button text="download CV" ariaLabel="download cv" onclick={downloadFile} />
  </div>
</Section>
