<section
  class="mb-4 mt-8 flex flex-col items-center justify-center gap-8 px-6 md:my-0 md:h-screen"
  id="contact"
  aria-labelledby="contact-heading"
>
  <header class="text-center">
    <h2 id="contact-heading" class="mb-4 text-4xl font-bold md:text-5xl">
      Contact me!
    </h2>
    <p class="max-w-xl text-lg md:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, culpa
      obcaecati? Tenetur quis reiciendis excepturi cupiditate sunt labore
      dignissimos, officiis nostrum aliquid sit esse ea similique, perferendis
      placeat mollitia explicabo.
    </p>
  </header>
</section>
