<div
  class="flex flex-col flex-wrap items-center justify-center gap-8 lg:h-screen"
  id="contact">
  <p>Contact me!</p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, culpa
    obcaecati? Tenetur quis reiciendis excepturi cupiditate sunt labore
    dignissimos, officiis nostrum aliquid sit esse ea similique, perferendis
    placeat mollitia explicabo.
  </p>
</div>
