<footer>
  <div
    class="my-6 flex flex-row justify-center gap-8 px-2 py-4 md:px-6 md:py-2">
      <p>
        Coded in 2024 by <a
          href="https://github.com/alawllm"
          class="text-secondary"
          rel="noopener noreferrer"
          target="_blank">alawllm.</a
        >
      </p>
      <p>
        Assets by <a
          href="https://de.freepik.com/"
          class="text-secondary"
          rel="noopener noreferrer"
          target="_blank">Freepik.</a
        >
      </p>
  </div>
</footer>
