<footer>
  <div class="px-2 py-4 md:px-6 md:py-2 flex gap-8 justify-center">
    <p>Coded in 2024 by <a href="https://github.com/alawllm" class="text-secondary">alawllm.</a></p>
    <p>Assets by <a href="https://de.freepik.com/"
      class="text-secondary">Freepik.</a></p>
  </div>
</footer>
