---
import ThemeToggler from '@components/ui/icons/ThemeToggler.astro'
import LogoNavbar from '@components/ui/icons/LogoNavbar.astro'
import NavbarItem from '@components/ui/NavbarItem.astro'

const links = [
  { href: '/', name: 'about' },
  { href: '/projects', name: 'projects' },
  { href: '/contact', name: 'contact' },
]
---

<header id="header">
  <div
    class="mb-4 mt-8 flex items-center justify-between px-2 py-4 transition-colors duration-700 md:px-6 md:py-10">
    <div><LogoNavbar /></div>
    <nav aria-label="Main Navigation">
      <ul class="flex items-center space-x-8">
        {links.map((link) => <NavbarItem href={link.href} name={link.name} />)}
        <li class="cursor-pointer">
          <ThemeToggler />
        </li>
      </ul>
    </nav>
  </div>
</header>
