---
import ProjectContainer from '@/components/ui/ProjectContainer.astro'
---

<section
  class="flex flex-col flex-wrap items-center justify-center gap-8 px-6 lg:mb-0 lg:h-screen"
  id="projects">
  <h2 class="mb-10 text-2xl md:mb-4 md:text-3xl">Here are my projects</h2>
  <div class="mx-auto flex flex-col gap-12 lg:flex-row">
    <ProjectContainer name="Project1" />
    <ProjectContainer name="Project2" />
    <ProjectContainer name="Project2" />
  </div>
  <a href="" class="hover:text-secondary">See my other projects</a>
</section>
