<div
  class="flex flex-col px-6 flex-wrap items-center justify-center gap-8 lg:mb-0 lg:h-screen mb-12"
  id="projects">
  <p>Here are my projects</p>
  <div class="flex mx-auto gap-12 flex-col lg:flex-row">
    <div
      class="w-40 h-40 rounded-2xl sm:w-52 sm:h-52 flex justify-center items-center border-solid border-2 border-gray-900 dark:border-white">
      <span>Project1</span>
    </div>
    <div
      class="w-40 h-40 rounded-2xl sm:w-52 sm:h-52 flex justify-center items-center border-solid border-2 border-gray-900 dark:border-white">
      <span>Project2</span>
    </div>
    <div
      class="w-40 h-40 rounded-2xl sm:w-52 sm:h-52 flex justify-center items-center border-solid border-2 border-gray-900 dark:border-white">
      <span>Project3</span>
    </div>
  </div>
  <p class="text-left">See my other projects</p>
</div>
