---
import ProjectContainer from "./ui/ProjectContainer.astro";
---

<section
  class="flex flex-col px-6 flex-wrap items-center justify-center gap-8 lg:mb-0 lg:h-screen mb-12"
  id="projects">
  <p>Here are my projects</p>
  <div class="flex mx-auto gap-12 flex-col lg:flex-row">
    <ProjectContainer name="Project1" />
    <ProjectContainer name="Project2" />
    <ProjectContainer name="Project2" />
  </div>
  <p class="text-left">See my other projects</p>
</section>
