---
import ProjectContainer from '@/components/ui/ProjectContainer.astro'
---

<section
  class="mb-4 mt-8 flex flex-col flex-wrap items-center justify-center gap-6 px-6 md:gap-10 lg:mb-0 lg:h-screen"
  id="projects"
>
  <header>
    <h2 class="mb-10 text-4xl font-bold md:mb-4 md:text-5xl">
      Here are my projects
    </h2>
  </header>
  <div class="mx-auto flex flex-col gap-12 text-wrap lg:flex-row">
    <ProjectContainer name="Project 1" />
    <ProjectContainer name="Project 2" />
    <ProjectContainer name="Project 3" />
  </div>
  <a
    href="#"
    class="flex items-center text-xl hover:fill-secondary hover:text-secondary"
    aria-label="See my other projects"
  >
    <svg
      class="fill-black hover:fill-secondary dark:fill-white"
      xmlns="http://www.w3.org/2000/svg"
      height="16px"
      viewBox="0 -960 960 960"
      width="16px"
      aria-hidden="true"
    >
      <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"></path>
    </svg>
    <span class="ml-2">See my other projects</span>
  </a>
</section>
