---
import ProjectContainer from '@/components/ui/ProjectContainer.astro'
---

<section
  class="mb-12 flex flex-col flex-wrap items-center justify-center gap-8 px-6 lg:mb-0 lg:h-screen"
  id="projects">
  <p>Here are my projects</p>
  <div class="mx-auto flex flex-col gap-12 lg:flex-row">
    <ProjectContainer name="Project1" />
    <ProjectContainer name="Project2" />
    <ProjectContainer name="Project2" />
  </div>
  <p class="text-left">See my other projects</p>
</section>
