---
import ProjectContainer from '@/components/ui/ProjectContainer.astro'
import ArrowLink from './ui/icons/ArrowLink.astro'
---

<section
  class="flex flex-col flex-wrap items-center justify-center gap-8 px-6 lg:mb-0 lg:h-screen"
  id="projects">
  <h2 class="mb-10 text-2xl md:mb-4 md:text-3xl">Here are my projects</h2>
  <div class="mx-auto flex flex-col gap-12 text-wrap text-white lg:flex-row">
    <ProjectContainer name="Project1" />
    <ProjectContainer name="Project2" />
    <ProjectContainer name="Project2" />
  </div>
  <a href="" class="flex items-center text-xl hover:text-secondary">
    <svg
      class="fill-black dark:fill-white"
      xmlns="http://www.w3.org/2000/svg"
      height="16px"
      viewBox="0 -960 960 960"
      width="16px">
      <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"></path>
    </svg>
    <span class="ml-2">See my other projects</span>
  </a>
</section>
