<div
  id="circle"
  class="z-90 ease pointer-events-none absolute h-20 w-20 rounded-full border-2 border-solid border-blue-400 transition-transform duration-100"
>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let mousePosX = 0,
      mousePosY = 0,
      mouseCircle = document.getElementById('circle')

    document.onmousemove = (e) => {
      mousePosX = e.pageX
      mousePosY = e.pageY
    }

    let delay = 6,
      revisedMousePosX = 0,
      revisedMousePosY = 0

    function delayMouseFollow() {
      requestAnimationFrame(delayMouseFollow)

      revisedMousePosX += (mousePosX - revisedMousePosX) / delay
      revisedMousePosY += (mousePosY - revisedMousePosY) / delay

      const circleWidth = mouseCircle.offsetWidth
      const circleHeight = mouseCircle.offsetHeight

      mouseCircle.style.top = revisedMousePosY - circleHeight / 2 + 'px'
      mouseCircle.style.left = revisedMousePosX - circleWidth / 2 + 'px'
    }

    delayMouseFollow()
  })
</script>
