---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-auto max-w-screen-xl bg-white text-black px-10 md:px-32 py-4 md:py-8 container dark:bg-slate-900 dark:text-white">
    <Header />
    <slot />
    <!-- footer -->
    <style>
      :global(html) {
        scroll-behavior: smooth;
      }
      @media (prefers-reduced-motion: reduce) {
        :global(html) {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
