---
import Header from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Great, optimized description of my site. It is an example of a simple portfolio page in Astro."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://astro-portfolio-al.netlify.app" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto max-w-screen-xl bg-white text-black px-10 md:px-32 py-4 md:py-8 container dark:bg-black dark:text-white">
    <Header />
    <slot />
    <Footer />
    <style>
      :global(html) {
        scroll-behavior: smooth;
      }
      @media (prefers-reduced-motion: reduce) {
        :global(html) {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
