---
const { name } = Astro.props
---

<div
  class="flex h-32 w-56 rounded-3xl md:h-64 md:w-64 text-2xl text-whit hover:bg-secondary items-center justify-center md:rounded-full bg-secondaryDark border-gray-900 dark:border-white"
>
  <span>{name}</span>
</div>
