---
import ArrowLink from './icons/ArrowLink.astro'
import { Image } from 'astro:assets'
import startupIcon from '../../assets/startup_icon.png'

interface ProjectContainerProps {
  name: string
}

const { name } = Astro.props as ProjectContainerProps
---

<div
  class=" dark:bg-white mx-auto my-2 flex h-[220px] w-[140px] flex-col items-center justify-center gap-2 text-nowrap rounded-xl border-2 border-dotted border-secondary p-4 py-4 text-center text-sm font-normal md:w-[150px] md:text-xl lg:w-[160px]">
  <p class="text-wrap text-xl font-bold dark:text-black">{name}</p>
    <Image
      src={startupIcon}
      alt="Project Image"
      class="h-auto"
      width="60"
      loading="eager"
    />
  <ArrowLink
    fill="fill-black hover:fill-secondary mt-4"
    size="30"
  />
</div>
