---
interface SectionProps {
  id: string
  ariaLabel: string
}

const { id, ariaLabel } = Astro.props as SectionProps
---

<section
  class="mb-20 mt-4 flex flex-row flex-wrap items-center justify-evenly px-6 min-h-96"
  id={id}
  aria-labelledby={ariaLabel}>
  <slot />
</section>

